@font-face {
    font-family: Symbola;

    src: url('../staff/Symbola.otf');
    }
    
/*
.staff {
    font-size: xxxx-large;
    position: absolute;
    margin-left:5%;
    width: 90%;
    height: 350px;
    background-image: url(../../images/download.png);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 100%;
    z-index: -1;
    font-family: Symbola;   
}
*/


.grand-staff{
 font-family: Symbola;
 display: block;
 height: 320px; 
 position: relative;
}

$distance-between-lines: 10pt;
$distance-from-top: 55pt;
$distance-to-bottom: $distance-from-top + 70pt + 5 * $distance-between-lines;
$left-margin: 10%;
$width: 80%;

.stanza-brace{

    z-index: 2;
    position: relative;
    display: inline;
    top: 20%;
    left: -40.4%;
    font-size: 110pt;
    color: orange;
    
}


.trebble-clef-symbol {
    position: absolute;
    font-size: 60pt;
    top: 49pt;
    display: inline;
    opacity: 100%;
    left: calc(10% + 57px);
}



.bass-clef-symbol {
    position: absolute;
    font-size: 56pt;
    top: 117pt;
    display: inline;
    opacity: 100%;
    left: calc(10% + 54px);
}

.stanza-vertical{
    border-left: 2pt solid black;
    position: absolute;
    top: 61pt;
    height: 111pt;
    display: inline;
    

    &.start-line{
        left: $left-margin;
    }


    &.end-of-first-measure{
        left: calc((10% + (1 / 3) * 80%) + 48px);
    }

    &.end-of-second-measure{
        left: calc((10% + (2 / 3) * 80%) + 24px);
    }

    &.end-of-third-measure{
        left: $left-margin + $width;
    }

}



hr.stanza-line{

        border-top: 1pt solid black;
        border-bottom: none;
        border-left: none;
        border-right: none;
        width: $width;
        left: $left-margin;
        position: absolute;

        
        &.trebble{
            &.fake-1{
                top: $distance-from-top - 3 * $distance-between-lines;
                border-top: 1px solid red;
            }

            &.fake-2{
                top: $distance-from-top - 2 * $distance-between-lines;
                border-top: 1px solid red;
            }

            &.fake-3{
                top: $distance-from-top - 1 * $distance-between-lines;
                border-top: 1px solid red;
            }

            &.clef-f{
                top: $distance-from-top;
            }

            &.clef-d{
                top: $distance-from-top + $distance-between-lines;
            }

            &.clef-b{
                top: $distance-from-top + 2 * $distance-between-lines;
            }

            &.clef-g{
                top: $distance-from-top + 3 * $distance-between-lines;
            }

            &.clef-e{
                top: $distance-from-top + 4 * $distance-between-lines;
            }
        }
        // Change distance from top for bass cleff
        $distance-from-top:   $distance-from-top + 70pt;

        &.bass{
            &.clef-a{
                top: $distance-from-top;
            }

            &.clef-f{
                top: $distance-from-top + $distance-between-lines;
            }

            &.clef-d{
                top: $distance-from-top + 2 * $distance-between-lines;
            }

            &.clef-b{
                top: $distance-from-top + 3 * $distance-between-lines;
            }

            &.clef-g{
                top: $distance-from-top + 4 * $distance-between-lines;
            }

            &.fake-1{
                top: $distance-from-top + 5 * $distance-between-lines;
                border-top: 1px solid blue;
            }

            &.fake-2{
                top: $distance-from-top + 6 * $distance-between-lines;
                border-top: 1px solid blue;
            }

            &.fake-3{
                top: $distance-from-top + 7 * $distance-between-lines;
                border-top: 1px solid blue;
            }
        }
}
//800