@font-face {
    font-family: Symbola;

    src: url('../staff/Symbola.otf');
    }
    
/*
.staff {
    font-size: xxxx-large;
    position: absolute;
    margin-left:5%;
    width: 90%;
    height: 350px;
    background-image: url(../../images/download.png);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 100%;
    z-index: -1;
    font-family: Symbola;   
}
*/


.grand-staff{
 font-family: Symbola;
 display: block;
 height: 320px; 
 position: relative;
}




hr.stanza-line{

        border-top: 1pt solid black;
        border-bottom: none;
        border-left: none;
        border-right: none;
        width: 80%;
        left: 10%;
        position: absolute;

        $distance-from-top: 55pt;
        $distance-between-lines: 10pt;
        
        &.trebble{
            &.fake-1{
                top: $distance-from-top - 3 * $distance-between-lines;
                border-top: 1px solid red;
            }

            &.fake-2{
                top: $distance-from-top - 2 * $distance-between-lines;
                border-top: 1px solid red;
            }

            &.fake-3{
                top: $distance-from-top - 1 * $distance-between-lines;
                border-top: 1px solid red;
            }

            &.clef-f{
                top: $distance-from-top;
            }

            &.clef-d{
                top: $distance-from-top + $distance-between-lines;
            }

            &.clef-b{
                top: $distance-from-top + 2 * $distance-between-lines;
            }

            &.clef-g{
                top: $distance-from-top + 3 * $distance-between-lines;
            }

            &.clef-e{
                top: $distance-from-top + 4 * $distance-between-lines;
            }
        }
        // Change distance from top for bass cleff
        $distance-from-top:   $distance-from-top + 70pt;

        &.bass{
            &.clef-a{
                top: $distance-from-top;
            }

            &.clef-f{
                top: $distance-from-top + $distance-between-lines;
            }

            &.clef-d{
                top: $distance-from-top + 2 * $distance-between-lines;
            }

            &.clef-b{
                top: $distance-from-top + 3 * $distance-between-lines;
            }

            &.clef-g{
                top: $distance-from-top + 4 * $distance-between-lines;
            }

            &.fake-1{
                top: $distance-from-top + 5 * $distance-between-lines;
                border-top: 1px solid blue;
            }

            &.fake-2{
                top: $distance-from-top + 6 * $distance-between-lines;
                border-top: 1px solid blue;
            }

            &.fake-3{
                top: $distance-from-top + 7 * $distance-between-lines;
                border-top: 1px solid blue;
            }
        }
}
//800